<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Recipe Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav nav-tabs me-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a [routerLink]="['/auth']" routerLinkActive="active" class="nav-link"
            >Authenticate</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a
            [routerLink]="['/recipe-book']"
            routerLinkActive="active"
            class="nav-link"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="['/shopping-list']"
            routerLinkActive="active"
            class="nav-link"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="navbar-nav">
        <li>
          <a
            class="nav-link pointer"
            role="button"
            (click)="onLogout()"
            *ngIf="isLoggedIn"
          >
            Logout
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle" role="button" appDropdown>
            Manage
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item pointer" (click)="storeRecipes()"
              >Save Data</a
            >
            <a class="dropdown-item pointer" (click)="retrieveRecipes()"
              >Fetch Data</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
